@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box14;
}

html,
body {
  font-family: "Oswald", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.content-container h1 {
  padding-left: 15rem;
}

.search-input {
  display: flex;
  gap: 0.8rem;
  font-size: 20px;
}

#searchInput {
  width: 78vh;
  max-width: 78vh;
  height: 2.4rem;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

#searchInput:focus-visible {
  outline: 1px solid purple;
}

#searchBtn {
  padding: 9px 10px;
  border-radius: 5px;
  color: white;
  background-color: purple;
  font-size: 18px;
}

#searchBtn:hover {
  cursor: pointer;
  background-color: rgb(58, 0, 58);
}

#searchBtn:active {
  background-color: rgb(221, 0, 221);
}

#searchBtn i {
  padding-right: 4px;
}

#profileContainer {
  width: 100%;
}

.profile-box {
  margin: auto;
  width: 45%;
  max-width: 78rem;
  padding: 4rem 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 20px;
  transition: 0.5s ease-in;
}

.profile-box:hover {
  transform: rotate(-2deg) scale(1.01);
  transition: 0.5s ease-in;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.self h1,
h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.avatar {
  height: 10rem;
  width: 10rem;
}
.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.top-section button {
  align-self: center;
}

.about {
  margin: 2rem;
}

.status {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: 2rem;
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Querry */
@media (max-width: 460px) {
  .search-input {
    display: block;
  }
}
